# Исключить node_modules
node_modules

# Исключить папки сборки или артефакты
dist
build

# Исключить скрытые системные файлы и папки
.DS_Store
.git
.gitignore

# Исключить лог-файлы и временные файлы
*.log
*.tmp

# Исключить конфигурационные файлы IDE
.idea
.vscode

# Исключить файлы и папки, специфичные для разработки
.env
*.local
